.title {
  // @include pt-sans-bold-font;
  position: absolute;
  top: 150px;
  left: 0;
  padding-left: 80px;
  font-size: 56px;
  line-height: 70px;

  color: #42567a;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 120px;
    background: linear-gradient(180deg, #5d5fef, #ef5da8);
  }
}
